<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card card-follow">
                <div class="row">
                    <div class="col-3">
                        <img src="assets/img/foto-no-disponible.jpg" alt="" class="logo_img">
                    </div>
                    <div class="col-9">
                       <span class="razonsocial">Empresa de purba A</span>
                        <span class="nombre_comercial">Empresa de purba A</span>
                        <span class="rfc">Empresa de purba A</span>
                    </div>
                </div>
                <span class=" descripcion m-t-20">
                    Breve descripción del producto o servicio que ofrece la empresa a sus clientes y mediante el cual el usuario podría
                    verse interesado en hacer una alianza comercial.
                </span>
                <span class="minisub m-t-20">
                    IMAGEN
                </span>
                <div class="row cont-box">
                    <div class="col-9">
                        <span class="minisub">calificación mdeia</span>
                        <span class="tipocalif">Como cliente</span>
                    </div>
                    <div class="col-3">
                        <div class="box">
                            8.5
                        </div>
                    </div>
                </div>
                <div class="row  cont-box m-t-20">
                    <div class="col-9">
                        <span class="minisub">calificación mdeia</span>
                        <span class="tipocalif">Como proveedor</span>
                    </div>
                    <div class="col-3">
                        <div class="box">
                            8.5
                        </div>
                    </div>
                </div>
                <span class="minisub m-t-20">
                    ÚLTIMA CALIFICACIóN RECIBIDA EL
                </span>
                <span class="fecha_califi">
                    04/04/2020
                </span>
                <span class="minisub m-t-20">
                    CERTIFICACIONES ACTUALES ( 10 )
                </span>
                <ul class="list_cert">
                    <li>
                        <div class="boxt">
                            ISO
                        </div>
                        <span class="lvl">
                            Nombre de la certificación A
                        </span>
                    </li>
                    <li>
                        <div class="boxt">
                            ISO
                        </div>
                        <span class="lvl">
                            Nombre de la certificación A
                        </span>
                    </li>
                    <li>
                        <div class="boxt">
                            ISO
                        </div>
                        <span class="lvl">
                            Nombre de la certificación A
                        </span>
                    </li>
                    <li>
                        <div class="boxt">
                            ISO
                        </div>
                        <span class="lvl">
                            Nombre de la certificación A
                        </span>
                    </li>
                    <li>
                        <div class="boxt">
                            ISO
                        </div>
                        <span class="lvl">
                            Nombre de la certificación A
                        </span>
                    </li>
                    <li>
                        <div class="boxt">
                            ISO
                        </div>
                        <span class="lvl">
                            Nombre de la certificación A
                        </span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-10">
                        Siguiendo
                    </div>
                    <div class="col-2">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>