<ul>
    <li><a routerLink='/busqueda/perfil/{{idempresa}}/M' routerLinkActive="active">Resumen</a></li>
    <li><a routerLink='/busqueda/certificaciones/{{idempresa}}' routerLinkActive="active">Certificaciones</a></li>
    <li><a routerLink='/busqueda/productos/{{idempresa}}' routerLinkActive="active">Productos y servicios</a></li>
    <li><a routerLink='/busqueda/marcas/{{idempresa}}' routerLinkActive="active">Marcas</a></li>
    <li><a routerLink='/busqueda/asociaciones/{{idempresa}}' routerLinkActive="active">Asociaciones</a></li>
    <li><a routerLink='/busqueda/usuarios/{{idempresa}}' routerLinkActive="active">Usuarios</a></li>
    <li><a routerLink='/busqueda/imagen/{{idempresa}}/cliente/M' routerLinkActive="active">Imagen como Cliente</a></li>
    <li><a routerLink='/busqueda/imagen/{{idempresa}}/proveedor/M' routerLinkActive="active">Imagen como proveedor</a></li>
</ul>