<div class="container m-t-30">
    <div class="row">
        <div class="col-12 text-uppercase d-flex align-content-center m-b-40">
            <div class="cuadro-bineta mr-3"></div>
            <span class="subtitle">Tu Imagen como cliente</span>
        
        </div>
        <div class="col-6">
            <div class="card1">
                <div class="titulo">
                    número de calificaciones
                </div>
                <div class="numero">
                    30
                </div>
                <div class="nota">
                    Calificaciones totales a las fecha (20 MAY 2020)
                </div>
            </div>
            <div class="card card-nota">
                <div class="row">
                    <div class="col-8">
                        <span class="titulo">Calificacion Media</span>
                        <span class="nota">Calidad</span>
                    </div>
                    <div class="col-4">
                        <div class="card card-box baja">
                            6.5
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-6">
            <div class="card2 full">
                <div class="titulo">
                    Calificacion Media - General
                </div>
                <div class="numero">
                    8.0
                </div>
                <div class="nota">
                    Calificación general a la fecha (20 MAY 2020)
                </div>
            </div>
            <div class="card card-nota">
                <div class="row">
                    <div class="col-8">
                        <span class="titulo">Calificacion Media</span>
                        <span class="nota">Cumplimiento</span>
                    </div>
                    <div class="col-4">
                        <div class="card card-box alta">
                            8.5
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-12 text-uppercase d-flex align-content-center m-t-40 m-b-40">
            <div class="cuadro-bineta mr-3"></div>
            <span class="subtitle">Tu Imagen como proveedor</span>
        
        </div>
        <div class="col-6  " >
            <div class="card1">
                <div class="titulo">
                    número de calificaciones
                </div>
                <div class="numero">
                    30
                </div>
                <div class="nota">
                    Calificaciones totales a las fecha (20 MAY 2020)
                </div>
            </div>
            <div class="card card-nota">
                <div class="row">
                    <div class="col-8">
                        <span class="titulo">Calificacion Media</span>
                        <span class="nota">Calidad</span>
                    </div>
                    <div class="col-4">
                        <div class="card card-box alta">
                            8.5
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col-6">
            <div class="card2 down">
                <div class="titulo">
                    Calificacion Media - General
                </div>
                <div class="numero">
                    9.0
                </div>
                <div class="nota">
                    Calificación general a la fecha (20 MAY 2020)
                </div>
            </div>
            <div class="card card-nota">
                <div class="row">
                    <div class="col-8">
                        <span class="titulo">Calificacion Media</span>
                        <span class="nota">Cumplimiento</span>
                    </div>
                    <div class="col-4">
                        <div class="card card-box baja">
                            5.5
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col-6">
            <div class="card card-nota">
                <div class="row">
                    <div class="col-8">
                        <span class="titulo">Calificacion Media</span>
                        <span class="nota">Oferta</span>
                    </div>
                    <div class="col-4">
                        <div class="card card-box mediac">
                            8.5
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
