<div class="conatiner-fluid bg-white">
    <div class="container ">
        <div class="row bg">
            <div class="input-group  col-12 m-t-20 m-b-20">
                <div class="input-group-append ">
                    <span class="input-group-text text-muted left " id="basic-addon2">
                        <span class="material-icons">
                            search
                        </span>
                    </span>
                </div>
                <input (keyup)="buscar($event)" [(ngModel)]="palabra" type="text" class="form-control bg text-blackk" placeholder="Escriba aqui la Empresa, Nombre Comercial, Descripción, Marcar, Producto o R.F.C. que deceas buscar" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <div class="input-group-append ">
                    <span class="input-group-text text-base text-azulcielo right " id="basic-addon2">
                        Buscar
                       <img src="/assets/icons/AMY_SearchArrow_Active_Blue.svg" class="m-l-20" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>