@import '../../../../styles.scss';
.card-media,.card-filtro{
    padding: 26px 30px;
    height: 340px;
}
.card-media{
    background-color:#87F2EA;
}
.card-filtro{
    background-color:white;
}
.card-media,.card-filtro{

      & .titulo,& .subtitulo,& .leyenda{
        color:map-get($colors, gris1N );
    }
     & .titulo,& .numero{
        font-family: map-get($fonts, semiBold );
        text-transform: uppercase;
        display: block;
        width: 100%;
    }
    & .subtitulo{
        font-family: map-get($fonts, w-l );
        display: block;
          font-size: 22px;
          margin-top: 5px;
    }
     & .titulo{
        font-size: 12px;
     }
    & .numero{
        font-size: 120px;
        text-align: center;
        margin-top: 50px;
        line-height: 1;
    }
    & .leyenda{
        display: block;
        text-align: center;
        font-size: 12px;
         font-family: map-get($fonts, regular );
    }
    & .numero{
       color:#04195D;
    }
    
}
.baja-calif,.media-calif,.alta-calif{
    border: 2px solid;
    margin-bottom: 10px;
    border-radius: 0;
    & .heder,& .mat-expansion-panel-header{
        max-height: 40px;
        & .mat-expansion-panel-header-title {
            color: map-get($colorsN,gris1N );
            font-family: map-get($fonts, medium );
            font-size: 14px;
        } 
        & .caja{
           
        display: flex;
        width: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-right: 10px;
        }
        
    }

}
::ng-deep .mat-expansion-indicator{
     position: absolute;
     left: 0;
   &:after{
       color:map-get($colors, azulcielo );
   }
}
.baja-calif{
    border-color:map-get($colorsN, gris2N);
   & .heder,& .mat-expansion-panel-header{
            & .material-icons{
            color:map-get($colorsN, gris2N);
        }
         & .caja{
              background:map-get($colorsN, gris2N);
         }
    }
}
.media-calif{
    border-color:map-get($colors, naranja);
  
        & .heder,& .mat-expansion-panel-header{
            & .material-icons{
            color:map-get($colors, naranja);
        }
         & .caja{
              background:map-get($colors, naranja);
         }
    }
}
.alta-calif{
   border-color:map-get($colors, aqua2);
    & .heder,& .mat-expansion-panel-header{
         & .material-icons{
            color:map-get($colors, aqua2);
        }
        & .caja{
              background:map-get($colors, aqua2);
         }
    }
  
}
