<div class="container">
    <div class="row">
        <div class="btn-group">
            <a routerLink="/image-company/resume/{{como}}/{{tiempo}}"  routerLinkActive='btn-secondary ' class="btn btn-outline-secondary mr-3">Resumen</a>
            <a routerLink="/image-company/detail/{{como}}/{{tiempo}}"  routerLinkActive='btn-secondary'  class="btn btn-outline-secondary mr-3">Detalle</a>
            <a routerLink="/image-company/recibidas/{{como}}" routerLinkActive='btn-secondary' class="btn btn-outline-secondary">Calificaciones </a>
        </div>
        <div class="row m-t-30  mb-3">
            <div class="col-12 titulos m-t-60 m-b-10">
                Tu imagen como {{como}}
            </div>
            <div class="col-12 subtitle m-b-50">
                Basado en las calificaciones recibidas de tus {{contrario}}
            </div>
    </div>
</div>
