@import '../../../../styles.scss';


.subtitle{
    font-size: 14px;
}

.btn-grande{
    line-height: 2.2;
}
.periodo{
    & strong{
        font-size: 14px;
        font-family: map-get($fonts, semiBold );
    }
    & span{
          font-size: 14px;
        font-family: map-get($fonts, regular );   
    }
}