<div class="container m-t-30">
    <div class="row">
        <div class="col-12 text-uppercase d-flex align-content-center m-b-40">
            <div class="cuadro-bineta mr-3"></div>
            <span class="subtitle">TU RIESGO DE CLIENTES</span>

        </div>
        <div class="col-6">
            <div class="card card-riesgo">
                <div class="titulo1">
                    <span class="p1">tu riesgo</span>
                    <span class="p2"> - como clientes</span>
                </div>
                <div class="numero ">
                    0%
                </div>
                <div class="nota">
                    Estable
                </div>
            </div>
            <div class="minicard red">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han empeorado?</div>
            </div>
            <div class="minicard medium">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han mejorado?</div>
            </div>
            <div class="minicard greey">
                <div class="numero">0</div>
                <div class="label">¿Quíenes se mantienen?</div>
            </div>
            
        </div>
        <div class="col-6">
            <div class="card card-riesgo">
                <div class="titulo1">
                    <span class="p1">tu riesgo</span>
                    <span class="p2"> - como proveedores</span>
                </div>
                <div class="numero">
                    0%
                </div>
                <div class="nota">
                    Estable
                </div>
            </div>
            <div class="minicard red">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han empeorado?</div>
            </div>
            <div class="minicard medium">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han mejorado?</div>
            </div>
            <div class="minicard greey">
                <div class="numero">0</div>
                <div class="label">¿Quíenes se mantienen?</div>
            </div>
        
        </div>
        <div class="col-12 text-uppercase d-flex align-content-center m-t-40 m-b-40">
            <div class="cuadro-bineta mr-3"></div>
            <span class="subtitle">TU RIESGO DE proveedores</span>
        
        </div>
        <div class="col-6">
            <div class="card card-riesgo">
                <div class="titulo1">
                    <span class="p1">tu riesgo</span>
                    <span class="p2"> - como clientes</span>
                </div>
                <div class="numero ">
                    0%
                </div>
                <div class="nota">
                    Estable
                </div>
            </div>
            <div class="minicard red">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han empeorado?</div>
            </div>
            <div class="minicard medium">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han mejorado?</div>
            </div>
            <div class="minicard greey">
                <div class="numero">0</div>
                <div class="label">¿Quíenes se mantienen?</div>
            </div>
        
        </div>
        <div class="col-6">
            <div class="card card-riesgo">
                <div class="titulo1">
                    <span class="p1">tu riesgo</span>
                    <span class="p2"> - como proveedores</span>
                </div>
                <div class="numero">
                    0%
                </div>
                <div class="nota">
                    Estable
                </div>
            </div>
            <div class="minicard red">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han empeorado?</div>
            </div>
            <div class="minicard medium">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han mejorado?</div>
            </div>
            <div class="minicard greey">
                <div class="numero">0</div>
                <div class="label">¿Quíenes se mantienen?</div>
            </div>
        
        </div>
    </div>
</div>
