<div class="container-fluid bg-white">
    <div class="container">
        <div class="row p-t-40  ">
            <div class="col-12 text-uppercase d-flex align-content-center">
                <div class="cuadro-bineta mr-3"></div>
                <p class="subtitle">Consultar productos y servicios</p>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-12 barr-search">
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text text-muted left" id="basic-addon2">
                            <span class="material-icons">
                                search
                            </span>
                        </span>
                    </div>
                    <input (keyup)='ngBuscar()' [(ngModel)]="palabra" placeholder="Buscar productos y servicios" type="text" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-azulcielo bg-white right" id="basic-addon1">Buscar
                            <img src="/assets/icons/AMY_SearchArrow_Active_Blue.svg" class="m-l-20" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <!-----inciop de cardd-->
            <div *ngFor='let item of marcas_list' class="col-6 card-data m-b-30">
                <div class="card container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <img [src]="dameLogo(item.Foto)" class="logo-marca" alt="">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="titulo">{{item.Producto}}</div>
                                </div>
                                <div class="col-12 mt-3 ">
                                    <div class="small">Descripción</div>
                                    <div class="fecha">{{item.Descripcion}}</div>
                                </div>
                                <div class="col-12 btn-rigth m-t-40">
                                    <span (click)="ngEdit(item.IDProducto)" class="bt-rodn mr-2">
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </span>
                                    <span class="bt-rodn">
                                        <span (click)="ngDelete(item.IDProducto)" class="material-icons">
                                            delete
                                        </span>
                                    </span>
                                </div>

                            </div>
                        </div>
                        
                        

                                      

                        
                    </div>
                </div>
            </div>
           

            <!--fin de cards-->
        </div>
    </div>
</div>