<div class="container-fluid bg-white">
    <div class="container">
        <div class="row p-t-40 ">
            <div class="col-12 text-uppercase d-flex align-content-center">
                <div class="cuadro-bineta mr-3"></div>
                <p class="subtitle">Consultar giros</p>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-12 barr-search">
                <div class="input-group">
                    <div class="input-group-prepend ">
                        <span class="input-group-text text-muted left" id="basic-addon2">
                            <span class="material-icons">
                                search
                            </span>
                        </span>
                    </div>
                    <input (keyup)='buscar()' [(ngModel)]="palabra" placeholder="Buscar giros registrados" type="text" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-azulcielo bg-white right" id="basic-addon1">Buscar
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <!-----inciop de cardd-->
            <div class="col-3 card-data " *ngFor='let item of giros_empresa'>
                <div [ngClass]="{'giro_principal':  item.Principal==='1'}" class="card container-fluid">
                    <div class="row">
                       
                        <div class="col-12 mt-3 m-b-25">
                            <div class="small">Giro</div>
                            <div class="fecha text-bold">{{ item.Giro[0].Giro}}</div>
                        </div>
                        <div class="col-12 m-b-25">
                            <div class="small">SubGiro</div>
                            <div class="fecha">{{ item.SubGiro[0].Giro}}</div>
                        </div>
                        <div class="col-12 ">
                            <div class="small">Rama</div>
                            <div class="fecha">{{ item.Rama[0].Giro}}</div>
                        </div>
                        
                        <div class="col-12 btn-rigth m-t-20">
                            <span *ngIf=' !item.Principal' (click)="ngPricipal(item.id)" class="bt-rodn mr-2">
                                <span class="material-icons">
                                    verified
                                </span>
                            </span>
                           
                            <span (click)="ngDelete(item.id)" class="bt-rodn">
                                <span class="material-icons">
                                    delete
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
           
          
           
            <!--fin de cards-->
        </div>
    </div>
</div>