
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card riesgo blue">
                <span class="titulo">tu riesgo de clientes</span>
                <br>
                <span class="subtitulo">Estable</span>
                
                <span class="numero">
                    0%
                </span>
                <span class="nota">
                    Nivel de riesgo a la fecha
                    <br>
                    (20 de Mayo 2020)
                </span>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 subtitulo text-uppercase">
                    Filtros disponibles
                </div>
                <div class="col-12 form-group">
                    <label>Sector</label>
                    <select class="form-control">
                        <option value="">Tus clientes como clientes</option>
                        <option value="">Tus clientes como proveedores</option>
                    </select>
                </div>
                <div class="col-12 form-group">
                    <label>SubSector</label>
                    <select [(ngModel)]="subSector" class="form-control">
                        <option value="">Tus clientes como clientes</option>
                        <option value="">Tus clientes como proveedores</option>
                    </select>
                </div>
               
                <div class="col-12">
                    <div class="btn-group">
                        <button class="btn btn-azulcielo mr-3">Aplicar filtros</button>
                        <button class="btn btn-outline-azulcielo">Limpiar filtros</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container m-t-40">
    <div class="row">
        <div class="col-4">
            <div class="titulol">
                Lista de Clientes
            </div>
            <div class="subtitulol m-t-20">
                Da clic para ver el listado de clientes de acuerdo a su evolución
            </div>
            <div class="minicard red">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han empeorado?</div>
            </div>
            <div class="minicard medium">
                <div class="numero">0</div>
                <div class="label">¿Quíenes han mejorado?</div>
            </div>
            <div class="minicard greey">
                <div class="numero">0</div>
                <div class="label">¿Quíenes se mantienen?</div>
            </div>

            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Calidad</span>
            
                <span class="numero">
                    0%
                </span>
              
            </div>
            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Compromiso</span>
            
                <span class="numero">
                    0%
                </span>
            
            </div>
            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Oferta</span>
            
                <span class="numero">
                    0%
                </span>
            
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="container-grafico">
                        <label class="subtitle text-uppercase">Evolución de clientes - general</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12 m-t-60">
                    <div class="container-grafico">
                        <label class="subtitle text-uppercase">Evolución de clientes - Calidad</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-grafico m-t-60">
                        <label class="subtitle text-uppercase">Evolución de clientes - Compromiso</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-grafico m-t-60">
                        <label class="subtitle text-uppercase">Evolución de clientes - Oferta</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
