
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card riesgo blue">
                <span class="titulo">tu riesgo de clientes</span>
                <br>
                
                
                <span class="numero">
                    {{porcentajes['General']}}%
                </span>
                <span class="nota">
                    Nivel de riesgo a la fecha
                    <br>
                    ({{periodo}})
                </span>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 subtitulo text-uppercase">
                    Filtros disponibles
                </div>
                <div class="col-12 form-group">
                    <label>Sector</label>
                    <select #myselect (change)="ngGetSubSector(myselect.value)"  class="form-control">
                        <option value="">Selecciona</option>
                        <option *ngFor='let item of sector' value="{{item.IDNivel1}}">{{item.Giro}}</option>
                        
                    </select>
                </div>
                <div class="col-12 form-group">
                    <label>SubSector</label>
                    <select [(ngModel)]="subSector" class="form-control">
                        <option  value="">Selecciona</option>
                        <option *ngFor='let item of  list_subsector' value="{{item.IDNivel2}}" >{{item.Giro}}</option>
                        
                    </select>
                </div>
               
                <div class="col-12">
                    <div class="btn-group">
                        <button (click)="ngGetRiesgo()" class="btn btn-azulcielo mr-3">Aplicar filtros</button>
                        <button class="btn btn-outline-azulcielo">Limpiar filtros</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container m-t-40">
    <div class="row">
        <div class="col-4">
            <div class="titulol">
                Lista de Clientes
            </div>
            <div class="subtitulol m-t-20">
                Da clic para ver el listado de clientes de acuerdo a su evolución
            </div>
            <div class="minicard red">
                <div class="numero">{{NumEmpeorados}}</div>
                <div class="label">¿Quíenes han empeorado?</div>
            </div>
            <div class="minicard medium">
                <div class="numero">{{NumMejorados}}</div>
                <div class="label">¿Quíenes han mejorado?</div>
            </div>
            <div class="minicard greey">
                <div class="numero">{{NumSD}}</div>
                <div class="label">Sin Datos</div>
            </div>
           

            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Calidad</span>
            
                <span class="numero">
                   {{porcentajes['Calidad']}}%
                </span>
              
            </div>
            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Cumplimiento</span>
            
                <span class="numero">
                  {{porcentajes['Cumplimiento']}}%
                </span>
            
            </div>
            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Socioambiental</span>
            
                <span class="numero">
                    {{porcentajes['Cumplimiento']}}%
                </span>
            
            </div>
            <div class="card riesgo normal m-t-40">
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Sanidad</span>
            
                <span class="numero">
                    {{porcentajes['Cumplimiento']}}%
                </span>
            
            </div>
          
            <div class="card riesgo normal m-t-40" *ngIf='comoQue ==="proveedor"'>
                <span class="titulo">riesgo por</span>
                <br>
                <span class="subtitulo">Oferta</span>
            
                <span class="numero">
                    {{porcentajes['Oferta']}}%
                </span>
            
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="container-grafico">
                        <label class="subtitle text-uppercase">Evolución de clientes - general</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12 m-t-60">
                    <div class="container-grafico">
                        <label class="subtitle text-uppercase">Evolución de clientes - Calidad</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData_calidad"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-grafico m-t-60">
                        <label class="subtitle text-uppercase">Evolución de clientes - Cumplimiento</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData_cumplimiento"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-grafico m-t-60">
                        <label class="subtitle text-uppercase">Evolución de clientes - Socioambiental</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData_cumplimiento"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-grafico m-t-60">
                        <label class="subtitle text-uppercase">Evolución de clientes - Sanidad</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData_cumplimiento"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-12" *ngIf='comoQue ==="proveedor"'>
                    <div class="container-grafico m-t-60">
                        <label class="subtitle text-uppercase">Evolución de clientes - Oferta</label>
                        <canvas baseChart width="350" [labels]="barChartLabels" height="120" [datasets]="barChartData_oferta"
                            [options]="barChartOption" [legend]="lineChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
