<div class="container">
    <div class="row">
        <div class="col-12 titulos m-t-30 m-b-30">
            Busqueda
        </div>
        <div class="col-12 text-uppercase d-flex align-content-center">
            <div class="cuadro-bineta mr-3"></div>
            <span class="subtitle">Se han encontrado {{numresultados}} coincidencias</span>
        
        </div>

        <div class="col-12 card m-t-40">
            <div class="row p-t-20 ">
                <div class="col-12 text-uppercase d-flex align-content-center">
                    <p class="subtitle">Filtros disponibles</p>
                </div>
            </div>
            <div class="row" >
                <div class="form-group col-4">
                    <label for="razon_social">Nueva Busqueda </label>
                   <input type="text"   class="form-control " [(ngModel)]="palabra">
                </div>
                <div class="form-group col-4">
                    <label for="razon_social">Numero de Calificaciones recibidas </label>
                    <select [(ngModel)]="estado" 
                         class="form-control ">
                        <option value="">Selecciona</option>
                        <option value="0-10">Menor a 10</option>
                        <option value="11-50">11 a 50</option>
                        <option value="51-100">51 a 100</option>
                        <option value="101-250">101 a 250</option>
                        <option value="251-500">251 a 500</option>
                        <option value="501-1000">Más  de 501</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <label for="razon_social">Ubicación </label>
                    <select [(ngModel)]="numerocal"  class="form-control ">
                        <option value="">Selecciona</option>
                        <option *ngFor="let item of estados" value="{{item.Siglas}}">{{item.estadonombre}}</option>
                    </select>
                </div>
                
                <div class="col-12">
                    <div class="btn-group m-b-20">
                        <button  (click)="ngBusqueda()" class="btn btn-azulcielo mr-3">Aplicar Filtros</button>
                        <button (click)="ngClear()" class="btn btn-outline-azulcielo">Limpiar Filtros</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
