<div class="container">
    <div class="row m-t-30  ">
        <div class="col-12 titulos m-b-30">
            Datos de mi empresa
        </div>


        <div class="col-9 text-work">
            <div class="row">
                <div class="col-12 text-uppercase d-flex align-content-center">
                    <div class="cuadro-bineta mr-3"></div>
                    <span class="subtitle">Datos Generales</span>

                </div>
            </div>
        </div>
    </div>
    <form class="m-b-30" [formGroup]="form_company" (ngSubmit)="send()">
        <div class="row">
            <div class="form-group col-12">
                <label for="razon_social">Razón Social / Nombre <span class="text-red-t-danger">*</span></label>
                <input type="text" formControlName="RazonSocial"
                    [ngClass]="{'is-invalid':subttmited && form_validator.RazonSocial.errors}" class="form-control ">
                <small *ngIf="subttmited && form_validator.RazonSocial.errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="nombre_comercial">Nombre Comercial <span class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_validator.NombreComercial.errors}"
                    formControlName="NombreComercial" type="text" class="form-control ">
                <small *ngIf="subttmited && form_validator.NombreComercial.errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">RFC(Registro Federal de Contribuyentes) <span
                        class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_validator.Rfc.errors}" formControlName="Rfc"
                    type="text" class="form-control ">
                <small *ngIf="subttmited && form_validator.Rfc.errors" class="text-red-t-danger">Este campo es necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Tipo de Persona <span class="text-red-t-danger">*</span></label>
                <select [ngClass]="{'is-invalid':subttmited && form_validator.Persona.errors}"
                    formControlName="Persona" class="form-control ">
                    <option value="PM">Persona Moral</option>
                    <option value="PFA">Persona Fisica con actividad empresarial</option>
                </select>
                
                <small *ngIf="subttmited && form_validator.Persona.errors" class="text-red-t-danger">Este campo es necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Sector <span class="text-red-t-danger">*</span></label>
                <select
                (change)="ngsubgiro(form_validator.Giro.value)"
                 [ngClass]="{'is-invalid':subttmited && form_validator.Giro.errors}" formControlName="Giro"
                     class="form-control ">
                    <option *ngFor="let item of giros_list" value="{{item.id}}">{{item.Giro}}</option>
                    
                </select>
                
                <small *ngIf="subttmited && form_validator.Giro.errors" class="text-red-t-danger">Este campo es necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">SubSector <span class="text-red-t-danger">*</span></label>
                <select (change)="ngrama(form_validator.SubGiro.value)" [ngClass]="{'is-invalid':subttmited && form_validator.SubGiro.errors}"
                    formControlName="SubGiro"  class="form-control ">
                <option *ngFor="let item of subgiro_list" value="{{item.id}}">{{item.Giro}}</option>
                </select>
                <small *ngIf="subttmited && form_validator.SubGiro.errors" class="text-red-t-danger">Este campo es necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Rama <span class="text-red-t-danger">*</span></label>
                <select  [ngClass]="{'is-invalid':subttmited && form_validator.Rama.errors}" formControlName="Rama"
                     class="form-control ">
                    <option *ngFor="let item of ramas_list" value="{{item.id}}">{{item.Giro}}</option>
                </select>
                <small *ngIf="subttmited && form_validator.Rama.errors" class="text-red-t-danger">Este campo es necesario</small>
            </div>
            <div class="col-9 text-work mt-5">
                <div class="row">
                    <div class="col-12 text-uppercase d-flex align-content-center">
                        <div class="cuadro-bineta mr-3"></div>
                        <span class="subtitle">Datos del usuario principal</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" formGroupName="usuario">
            <div class="form-group col-6">
                <label for="razon_social">Nombre(S) <span class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_company.get('usuario.Nombre').errors}"
                    formControlName="Nombre" type="text" class="form-control ">
                <small *ngIf="subttmited && form_company.get('usuario.Nombre').errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Apellidos <span class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_company.get('usuario.Apellidos').errors}"
                    formControlName="Apellidos" type="text" class="form-control ">
                <small *ngIf="subttmited && form_company.get('usuario.Apellidos').errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Correo Electrónico <span class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_company.get('usuario.Correo').errors}"
                    formControlName="Correo" type="text" class="form-control ">
                <small *ngIf="subttmited && form_company.get('usuario.Correo').errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Confirmar Correo Electrónico <span class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_company.get('usuario.correo2').errors}"
                    formControlName="correo2" type="text" class="form-control ">
                <small *ngIf="subttmited && form_company.get('usuario.correo2').errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Contraseña <span class="text-red-t-danger">*</span></label>
                <input [ngClass]="{'is-invalid':subttmited && form_company.get('usuario.Password').errors}"
                    formControlName="Password" type="password" class="form-control ">
                <small *ngIf="subttmited && form_company.get('usuario.Password').errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="form-group col-6">
                <label for="razon_social">Confirmar Contraseña <span class="text-red-t-danger">*</span></label>
                <input 
                 [ngClass]="{'is-invalid':subttmited && form_company.get('usuario.password2').errors}"
                    formControlName="password2"
                type="password" class="form-control ">
                <small *ngIf="subttmited && form_company.get('usuario.password2').errors" class="text-red-t-danger">Este campo es
                    necesario</small>
            </div>
            <div class="col-3 offset-9 btn-group">
                <button type="reset" class="btn btn-outline-danger mr-3">Limpiar</button>
                <button  class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>