
<div class="container-fluid bg-aqua2 frgdatalog">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img [src]="damelogo()" class="img-fluidlog" alt="">
            </div>
            <div class="col-10">
                <span class='titulo'>{{data_company['Razon_Social']}}</span>
                <span class='subtitle1 m-t-15'>{{data_company['Nombre_Comer']}}</span>
                <span class='rfc m-t-15'>{{data_company['RFC']}}</span>
                <span class='miembro'>Miembro desde</span>
                <span class='fmiembro'>nombre Comercial</span>
            </div>
        </div>
    </div>
</div>