<ul>
    <li><a routerLink='/profile-company/resume/MA' routerLinkActive="active" >Resumen</a></li>
    <li><a routerLink='/profile-company/certification' routerLinkActive="active">Certificaciones</a></li>
    <li><a routerLink='/profile-company/follow' routerLinkActive="active">Empresas que sigues</a></li>
    <li><a routerLink='/profile-company/calificacion/cliente' routerLinkActive="active">Calificaciones Realizadas a Clientes</a></li>
    <li><a routerLink='/profile-company/lista/cliente' routerLinkActive="active">Tus Clientes</a></li>
    <li><a routerLink='/profile-company/calificacion/proveedor' routerLinkActive="active">Calificaciones Realizadas a Proveedores</a></li>
    <li><a routerLink='/profile-company/lista/proveedor' routerLinkActive="active">Tus Proveedores</a></li>
</ul>