<div class="separacion"></div>
<div class="container-fluid futter">
    <div class="container">
        <div class="row text-white text-regular">
            <div class="col-3 text-center">
                <img src="assets/img/logoadmyo.svg" class="img-fluid" alt="">
            </div>
            <div class="col-3">
                Términos y condiciones
            </div>
            <div class="col-3">
                Puntos y descuentos
            </div>
            <div class="col-3">
                Contacto
            </div>
            <div class="col-1 offset-9 m-t-40 ">
                <img src="assets/img/iconofaceblanco.svg" class="img-fluid" alt="">
            </div>
            <div class="col-1 m-t-40">
                <img src="assets/img/iconotweeterblanco.svg" class="img-fluid" alt="">
            </div>
            <div class="col-12 m-t-40">
                <img src="assets/img/lineablanca.svg" class="img-fluid" alt="">
            </div>
            <div class="col-12 text-center text-regular ">
                    2020 © InfoAdmyo S.A. de C.V.
            </div>
        </div>
    </div>
    
</div>