<div class="container">
    <div class="row m-t-30  ">
        <div class="col-12 titulos m-b-30">
            Datos de mi empresa
        </div>
    </div>
        <div class="row m-t-10 mb-3">
                <div class=" col-12 " *ngIf="ivalid">
                    <div class="card  p-15 m-t-30 d-flex justify-content-center  alert-card">
                        <div class="row">
                            <div class="col-1 text-center ">
                                <span class="material-icons ">
                                    error
                                </span>
                            </div>
                            <div class="col-10 ">
                                {{text_alert}}
                            </div>
                        </div>
                    </div>
        
                </div>
        </div>
<div class="row mb-3">
        <div class="col-3 text-work">
            <div class="row">
                <div class="col-12 m-t-55 tit-card-img">
                       Cargar imagen principal <span class="text-danger">*</span>
                </div>
                <div class="card card-logo">
                    <img   [src]="logitomarca" alt="" (click)="logoempresa.click()">
                    <input (change)="preview(logoempresa.files)" accept="image/gif, image/jpeg, image/png" type="file" class="d-none" #logoempresa>
                </div>
                <div class="col-12 text-muted instr-card">
                    <small>Tu imagen debe tener un tamaño minimo de 260px x 260px (1Mb).</small>
                    <br>
                    <small>Formatos permitidos JPEG, PNG y SVG.</small>
                </div>
               
                <div class="card card-certificaciones  bg-primary text-white m-t-60">
                    <label class="text-uppercase  m-t-25">Certificaciones</label>
                    <p class="text-white m-t-20  m-b-35">
                        <small>Aquí podrás visualizar todas las Certificaciones que tu empresa ha conseguido. </small>
                    </p>
                    <ul class="list-certificacion">
                        <li *ngFor='let i of normas'>
                            <span>{{i.Norma}}</span>
                        </li>
                        
                    </ul>
                    <a routerLink="/certifications-company" class="text-white"><small class="d-block w-100 text-right">Ver más</small></a>
                </div>
                <div class="card card-certificaciones  bg-azulcielo text-white  m-t-40">
                    <label class="text-uppercase m-t-25">Marcas</label>
                    <p class="text-white m-t-20">
                        <small>Aquí podrás visualizar las diferentes marcas que conforman tu empresa. </small>
                    </p>
                </div>
                <ul class="list-marcas">
                    <li *ngFor="let i of marcas">
                        <img [src]="ngSelectLogoCer(i.logo)" alt="{{i.logo}}">
                        <span>{{i.Marca}}</span>
                    </li>
                   
                </ul>
                <a routerLink='/associations-company' class="d-block w-100 text-right ge">Ver más</a>

            </div>
        </div>
        <div class="col-9 text-work">
            <div class="row">
                <div class="col-12 text-uppercase d-flex align-content-center">
                    <div class="cuadro-bineta mr-3"></div>
                    <span class="subtitle">Datos Generales</span>

                </div>

            </div>
            <form [formGroup]="form_company" (ngSubmit)="ngEnviarFormulario()" >
                <div class="row ">


                    <div class="form-group col-6">
                        <label for="razon_social">Razón Social <span class="text-danger">*</span></label>
                        <input [ngClass]="{'is-invalid':subttmited && get_form_Data.RazonSocial.errors}"  formControlName="RazonSocial" type="text" class="form-control " id="razon_social">
                        <small *ngIf="get_form_Data.RazonSocial.errors" class="text-danger">Este campo es requerido</small>
                    </div>

                    <div class="form-group col-6">
                        <label for="nombre_comercial">Nombre Comercial <span class="text-danger">*</span></label>
                        <input [ngClass]="{'is-invalid':subttmited && get_form_Data.NombreComercial.errors}" type="text" formControlName="NombreComercial" class="form-control " id="nombre_comercial">
                        <small *ngIf="get_form_Data.NombreComercial.errors" class="text-danger">Este campo es requerido</small>
                    </div>
                    <div class="form-group col-6">
                        <label for="razon_social">R.F.C. (Registro Federal del Contribuyente) <span
                                class="text-danger">*</span></label>
                        <input  [ngClass]="{'is-invalid':subttmited && get_form_Data.Rfc.errors}" type="text"  formControlName="Rfc" class="form-control " >
                            <small *ngIf="get_form_Data.Rfc.errors" class="text-danger">Este campo es requerido</small>
                    </div>
                    <div class="form-group col-6">
                        <label for="tipo_empresa">Tipo Empresa   <span class="text-danger">*</span></label>
                        <select [ngClass]="{'is-invalid':subttmited && get_form_Data.TipoEmpresa.errors}" class="form-control "  formControlName="TipoEmpresa" id="tipo_empresa">
                            <option value="">Selecciona</option>
                            <option *ngFor='let i of tipoempresas' value='{{i.Tipo}}'>
                                {{ i.Tipo }}
                            </option>
                        </select>
                        <small *ngIf="get_form_Data.TipoEmpresa.errors"  class="text-danger">Este campo es requerido</small>
                    </div>
                    <div class="form-group col-4">
                        <label for="empleados">No. de Empleados </label>
                        <select class="form-control" formControlName="NoEmpleados" id="empleados">
                            <option value="">Selecciona</option>
                            <option  *ngFor='let i of noempleados'  value='{{i.Num}}' >
                                {{ i.Num }}
                            </option>
                        </select>
                       
                    </div>
                    <div class="form-group col-4">
                        <label for="facturacion_anual">Facturación Anual </label>
                        <select class="form-control " formControlName="FacAnual" id="FacAnual">
                            <option value="">Selecciona</option>
                            <option *ngFor='let i of factanual' value='{{i.FacAnual}}'>
                                {{ i.FacAnual }}
                            </option>
                        </select >
                       
                    </div>
                    <div class="form-group col-4">
                        <label for="dias_pago">Días de Pago </label>
                        <input type="email" class="form-control " formControlName="Diaspago"  id="dias_pago">
                        
                    </div>
                    <div class="form-group col-12">
                        <label for="descripcion">Descripción de la Empresa <span class="text-danger">*</span></label>
                        <textarea [ngClass]="{'is-invalid':subttmited && get_form_Data.Perfil.errors}" class="form-control" formControlName="Perfil" placeholder="Escribe algo aquí" id="descripcion"
                            rows="8"></textarea>
                        <small *ngIf="get_form_Data.Perfil.errors" class="text-danger">Este campo es requerido</small>
                    </div>

                </div>

                <hr class="m-t-30 m-b-20">
                <div class="row ">
                    <div class="col-12 text-uppercase d-flex align-content-center">
                        <div class="cuadro-bineta mr-3"></div>
                        <span class="subtitle">Datos de Contacto</span>
                    </div>
                </div>

                <div class="row " formGroupName='Contacto'>


                    <div class="form-group col-6"  >
                        <label for="web">Pagína Web </label>
                        <input formControlName="Web" type="text" class="form-control" id="web">

                    </div>
                    <div class="form-group col-6">
                        <label for="web">Facebook </label>
                        <input formControlName="Faceboock" type="text" class="form-control">

                    </div>

                </div>
                <div class="row" formGroupName='Direccion'>
                    <div class="form-group col-6">
                        <label for="estado">Estado <span class="text-danger">*</span></label>
                        <select [ngClass]="{'is-invalid':subttmited && Direccion_get.Estado.errors}" formControlName="Estado" class="form-control " id="estado">
                            <option *ngFor='let i of estados' value='{{i.id}}'>
                                {{ i.nom_ent }}
                            </option>
                        </select>
                        <small *ngIf="Direccion_get.Estado.errors" class="text-danger">Este campo es requerido</small>
                    </div>
                    <div class="form-group col-6">
                        <label for="alcaldia">Alcaldía / Municipío <span class="text-danger">*</span> </label>
                        <input [ngClass]="{'is-invalid':subttmited && Direccion_get.Municipio.errors}" formControlName="Municipio" type="text" class="form-control ">
                        <small *ngIf="Direccion_get.Municipio.errors" class="text-danger">Este campo es requerido</small>
                    </div>
                    <div class="form-group col-6">
                        <label for="colonia">Colonia</label>
                        <input formControlName="Colonia" type="text" class="form-control " id="colonia">


                    </div>
                    <div class="form-group col-6">
                        <label for="cp">Código Postal </label>
                        <input placeholder="99999" Class="form-control" type="text" formControlName="Cp">
                        
                    </div>
                    <div class="form-group col-6">
                        <label for="direccion">Direccion (Calle y Número) </label>
                        <input type="text" class="form-control " id="direccion" formControlName="CalleNumero">
                    </div>
                </div>
                <div formGroupName='Telefono'>
                    <div class="row"  formGroupName="TelefonoP">
                        <div class="form-group col-6">
                            <label for="Tel1">Teléfono Principal</label>
                            <input   placeholder="(999) 999-9999" Class="form-control" type="text" formControlName="Numero">
                            
                        
                        </div>
                        <div class="form-group col-6">
                            <label for="cp">Tipo Teléfono Principal</label>
                            <select class="form-control " formControlName="Tipo">
                                <option value="Fijo">
                                    Fijo
                                </option>
                                <option value="Movil">
                                    Movil
                                </option>
                            </select>
                        </div>
                </div>
                <div class="row" formGroupName="TelefonoD">
                        <div class="form-group col-6">
                            <label for="Tel1">Teléfono 2</label>
                            <input placeholder="(999) 999-9999" Class="form-control" type="text" formControlName="Numero">
                           
                        
                        </div>
                        <div class="form-group col-6">
                            <label for="cp">Tipo Teléfono 2</label>
                            <select class="form-control " formControlName="Tipo">
                                <option value="Fijo">
                                    Fijo
                                </option>
                                <option value="Movil">
                                    Movil
                                </option>
                            </select>
                        </div>
                </div>
                <div class="row" formGroupName="TelefonoT">
                        <div class="form-group col-6">
                            <label for="Tel1">Teléfono 3</label>
                            <input placeholder="(999) 999-9999" Class="form-control" type="text" formControlName="Numero">
                        
                        </div>
                        <div class="form-group col-6">
                            <label for="cp">Tipo Teléfono 3</label>
                            <select formControlName="Tipo" class="form-control ">
                                <option value="Fijo">
                                    Fijo
                                </option>
                                <option value="Movil">
                                    Movil
                                </option>

                            </select>
                        </div>
                </div>
                </div>
                
                <div class="row">               
                    
                    <div class="col-12 m-t-30">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-azulcielo mr-3">Guardar</button>
                            <button type="reset" class="btn btn-outline-azulcielo">Cancelar</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>